NODE_ENV=production
BOT_TOKEN=
BOT_CLIENT_ID=
DISCORD_GUILD_ID=
BACKEND_BASE_URL=http://127.0.0.1:8000
BACKEND_SERVICE_TOKEN=

CHANNEL_WELCOME_ID=
CHANNEL_COMMANDS_CIV6_ID=
CHANNEL_COMMANDS_CIV7_ID=
CHANNEL_BOT_COMMANDS_ID=
CHANNEL_AUTHBOT_LOG_ID=
CHANNEL_AUTHBOT_REG_ID=

ROLE_MODERATOR=
ROLE_DEVELOPER=
ROLE_CIV6=
ROLE_CIV7=
ROLE_NOVICE=
ROLE_NON_VERIFIED=

REQUEST_TIMEOUT_MS=10000
